@import "../../variables.scss";

.container {
  margin: 0 auto;
  max-width: 1200px;

  &.size {
    &-large {
      box-sizing: content-box;
      padding: 0 40px;
    }

    &-medium {
      padding: 0 75px;
    }

    &-small {
      padding: 0 150px;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    &.size {
      &-large,
      &-medium,
      &-small {
        box-sizing: border-box;
        padding: 0 24px;
      }
    }
  }
}
