@import "../../variables.scss";

.switch {
  display: flex;
  border: 1px solid $neutral95;
  border-radius: 16px;
  padding: calc(4px - 1px);
  width: 56px;
  height: 32px;
  background-color: $neutral98;

  .value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 0.75rem;
    user-select: none;

    &.active {
      position: absolute;
      border-radius: 12px;
      background-color: $primary40;
      font-weight: 500;
      color: $white;
      transition: transform 0.25s;
    }
  }
}
