@import "../../variables.scss";

.section {
  height: calc(100vh - $headerHeight);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
}
