@import "../../variables.scss";

.section {
  margin-top: 40px;
  padding-top: 40px;

  .container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;

    .texts {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      text-align: center;

      .chips {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
      }
    }

    .link {
      width: calc(50% - 24px / 2);
      color: $primary10;

      .card {
        transform: translateY(100px);
      }

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          @if $i == 1 {
            width: 100%;
          }

          .card {
            transition: transform 1s ($i - 1) * 0.1s;
          }
        }
      }
    }
  }

  &.visible {
    .container {
      .card {
        transform: translateY(0);
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    .container {
      .link {
        width: 100%;
      }
    }
  }
}
