@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./variables.scss";

* {
  box-sizing: border-box;
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  @media (pointer: coarse) {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
  }
}

body {
  margin: 0;
  min-width: $minWidth;
  background-color: $neutral99;
  font-family: "Poppins", sans-serif;
  font-size: $body;
  color: $primary10;
  touch-action: pan-x pan-y;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 768px) {
    &::before {
      content: "";
      position: fixed;
      z-index: 9;
      width: 100%;
      height: calc(100vh - $headerHeight);
      visibility: hidden;
      transition: background-color 0.5s, visibility 0s 0.5s;
    }

    &.active::before {
      background-color: rgba($color: $neutral10, $alpha: 0.25);
      visibility: visible;
      transition: background-color 0.5s;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: $h1;
  line-height: 1.25;

  @media (max-width: 1024px) {
    font-size: $h2;
  }
}

h2 {
  font-size: $h2;
  line-height: 1.25;

  @media (max-width: 768px) {
    font-size: $h3;
  }
}

h3 {
  font-size: $h3;
  line-height: 1.25;

  @media (max-width: 768px) {
    font-size: $h4;
  }
}

h4 {
  font-size: $h4;
  line-height: 1.25;
}

h5 {
  font-size: $h5;
  line-height: calc($h5 + 0.5rem);
}

h6 {
  font-size: $h6;
  line-height: calc($h6 + 0.5rem);
}

p {
  font-weight: 300;
  line-height: 1.5rem;
  color: $neutral40;
}

// fixes styles in installed app
@media (min-width: 769px) {
  .card {
    .word {
      padding: 0 calc(11.453125px / 2) !important;
      background-image: linear-gradient($white, $white) !important;
      color: $black !important;
    }
  }
}
