$h1: 4rem;
$h2: 3rem;
$h3: 2rem;
$h4: 1.5rem;
$h5: 1.125rem;
$h6: 1rem;
$body: 0.8125rem;

$black: #000;
$white: #fff;

// #0055cc
$primary10: #001947; // onPrimaryContainer
$primary40: #0657ce; // primary
$primary90: #dae2ff; // primaryContainer
$neutral10: #191b23;
$neutral40: #5c5e67;
$neutral90: #e1e2ec;
$neutral95: #f0f0fa;
$neutral98: #faf8ff;
$neutral99: #fefbff;

$minWidth: 320px;
$headerHeight: 65px;
